#go-stats {
    /*max-width:1240px;*/
    padding: 20px;
    /*margin:auto;*/
    /*min-height: 100vh;*/
}
.go-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 150px;
}

.go-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    /*margin: 10px;*/
    flex-basis: 32%;
}
@media only screen and (max-width: 768px) {
    .go-card {
        flex-basis: 100%;
    }
}

.go-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.go-card-container {
    padding: 16px;
}
.go-stat-desc {
    font-size: 1rem;
    color: #666;
}
.go-card-title {
    font-size: 1.4rem;
    margin-top: 10px;
    min-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.44);
}
.go-card-value {
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.4rem;
}
.go-logo-icon {
    height: 50px;
    vertical-align: text-bottom;
    padding-right: 10px;
}

#go-stats h2 {
    padding-bottom: 30px;
    margin-inline-start: 20px;
}
